<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zq.bim.dao.ProjectDao">
  <resultMap id="BaseResultMap" type="zq.bim.entity.Project">
    <id column="PROJECT_ID" jdbcType="BIGINT" property="projectId" />
    <result column="PROJECT_NAME" jdbcType="VARCHAR" property="projectName" />
    <result column="IS_DELETED" jdbcType="BIT" property="isDeleted" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    PROJECT_ID, PROJECT_NAME, IS_DELETED, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_project
    where PROJECT_ID = #{projectId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_project
    where PROJECT_ID = #{projectId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="zq.bim.entity.Project">
    insert into tbl_project (PROJECT_ID, PROJECT_NAME, IS_DELETED, 
      CREATE_TIME, UPDATE_TIME)
    values (#{projectId,jdbcType=BIGINT}, #{projectName,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="zq.bim.entity.Project">
    insert into tbl_project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        PROJECT_ID,
      </if>
      <if test="projectName != null">
        PROJECT_NAME,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zq.bim.entity.Project">
    update tbl_project
    <set>
      <if test="projectName != null">
        PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PROJECT_ID = #{projectId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="zq.bim.entity.Project">
    update tbl_project
    set PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      IS_DELETED = #{isDeleted,jdbcType=BIT},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where PROJECT_ID = #{projectId,jdbcType=BIGINT}
  </update>


  <!--==============自定义方法信息====================-->
  <select id="findOne" parameterMap="java.lang.Long" resultType="zq.bim.entity.dto.ProjectDTO">
    select * from tbl_project where PROJECT_ID = #{projectId}
  </select>

  <select id="checkNameIsExist" parameterMap="java.util.HashMap" resultType="zq.bim.entity.dto.ProjectDTO">
    select * from tbl_project where IS_DELETED = #{isDeleted} and  PROJECT_NAME=#{projectName}
    <if test="projectId != null">
      and PROJECT_ID != #{projectId},
    </if>
  </select>

  <select id="findByQuery" parameterType="zq.bim.entity.dto.query.QueryProjectDefinition" resultType="zq.bim.entity.dto.ProjectDTO">
    select * from tbl_project where IS_DELETED = #{isDeleted}
    <if test="projectName != null and projectName != &quot;&quot; ">
      and PROJECT_NAME LIKE CONCAT('%',#{projectName},'%')
    </if>
    order by  CREATE_TIME desc
  </select>

  <update id="batchDelete" parameterType="zq.bim.entity.dto.delete.DeleteProjectDefinition">
      UPDATE  tbl_project
      <trim prefix ='set' prefixOverrides=',' >

        <trim prefix ='IS_DELETED = case' suffix='end,'>
            <foreach collection ='deleteIds' item ='item' index = 'index'>
                when PROJECT_ID = #{item} then #{isDel}
            </foreach>
        </trim>

        <trim prefix ='UPDATE_TIME = case' suffix='end'>
            <foreach collection ='deleteIds' item ='item' index = 'index'>
                when PROJECT_ID = #{item} then sysdate()
            </foreach>
        </trim>

      </trim>
      WHERE  PROJECT_ID in
      (
        <foreach collection='deleteIds' item='item' index='index' separator=','>
            #{item}
        </foreach>
      )
  </update>
</mapper>